@charset "utf-8";
/* CSS Document */

html {
  	height: 100%;
	background-image: url("main_page_images/bg_img.png");
	background-attachment: fixed;
}

body {
	width: 93%;
	margin: 5px auto 5px auto;
	border: 5px solid black;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

#header {
	height: 4%;
	padding-left: 10%;
	padding-top: 30px;
	background-image: linear-gradient(to right, #402759, black);
	color: #E4DCf1;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 2px;
}

#header_2 {
	height: 0.5%;
	padding-left: 10%;
	padding-top: 30px;
	background-image: linear-gradient(to right, #402759, black);
	color: #E4DCf1;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 1.5px;
}

#header_3 {
	height: 4%;
	padding-left: 10%;
	padding-top: 30px;
	padding-bottom: 10px;
	background-image: linear-gradient(to right, #402759, black);
	color: #E4DCf1;
	font-size: 15px;
	letter-spacing: 1px;
}

h3, p {
	color: #E4DCf1; 
}

.next_project {
	margin-top: 20px;
}

.text {
	margin-left: 10%;
	margin-right: 10%;
	text-align: left;
}

@keyframes skills {
	0%	{background-color: cyan;}
  	25% {background-color: black;
  		color: orange;
  		border: 2px solid orange;
  		}
  	50% {background-color: black;
  		color: orange;
  		border: 2px solid orange;
  		}
  	100%{background-color: cyan;}

}

ul {
	text-align: center;
	list-style-type: none;
	margin: 20px auto;
	padding: 0px;
}

li {
	font-weight: bold;
	letter-spacing: 0.5px;
	background-color: cyan;
	color: black;
	margin: 15px auto;
	padding: 10px 0px;
	border: 2px solid black;
	border-radius: 10px;
	width: 250px;
	animation-name: skills;
	animation-duration: 24s;
	animation-iteration-count: infinite;
}

/* Animate skills */
#skill1 {
	animation-delay: 0s;
}
#skill2 {
	animation-delay: 1s;
}
#skill3 {
	animation-delay: 2s;
}
#skill4 {
	animation-delay: 3s;
}
#skill5 {
	animation-delay: 4s;
}
#skill6 {
	animation-delay: 5s;
}
#skill7 {
	animation-delay: 6s;
}
#skill8 {
	animation-delay: 7s;
}
#skill9 {
	animation-delay: 8s;
}
#skill10 {
	animation-delay: 9s;
}
#skill11 {
	animation-delay: 10s;
}
#skill12 {
	animation-delay: 11s;
}

.inline_p {
	display: inline;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.tablink, .tablink:visited {
	width: 30%;
	flex-grow: 1;
  	background-color: transparent;
  	color: #E4DCf1;
  	letter-spacing: 3px;
  	font-size: 15px;
  	float: left;
	padding: 15px 0px;
  	border: none;
  	outline: none;
  	cursor: pointer;
}

.tablink:hover{
	opacity: 0.7;
}

.tabcontent {
  	color: #E4DCf1;
  	display: none;
  	padding-top: 30px;
  	margin: auto;
  	text-align: center;
}

#Home {background-color: #402759; background-image: url("main_page_images/crissxcross.png");}
#Portfolio {background-color: #402759; background-image: url("main_page_images/crissxcross.png");}
#Contact {background-color: #402759; background-image: url("main_page_images/crissxcross.png");}

.project_link, .project_link:visited {
	display: inline-block;
	background-color: cyan;
	color: black;
	text-decoration: none;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	width: 200px;
	margin: 2px 15px;
}

.project_link:hover {
	background-color: black;
	color: white;
	border: 2px solid #E4DCf1;
}

.project_link:active{
	color: orange;
	border: 2px solid orange;
}

.contact_link, .contact_link:visited {
	display: block;
	background-color: cyan;
	color: black;
	text-decoration: none;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	width: 250px;
	margin: 20px auto;
}

.contact_link:hover {
	background-color: black;
	color: white;
	border: 2px solid #E4DCf1;
}

.contact_link:active{
	color: orange;
	border: 2px solid orange;
}

.footer {
	margin-bottom: 0px;
	padding-bottom: 10px;
	text-align: center;
	color: #E4DCf1;
	font-size: 0.7em;
	font-weight: bold;
}

hr {
	border-top: 2px solid #E4DCf1;
	border-bottom: 0px;
	border-right: 0px;
	border-left: 0px;
}

hr.portfolio_div {
	border: 0px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #E4DCf1, rgba(0, 0, 0, 0));
	width: 90%;
	margin-top: 50px;
}

/* If the screen size is 800px wide or less, small text for menu text */
@media screen and (max-width: 800px) {
  .tablink {
    font-size: 10px;
  }
}



/* ------------ Copyright © Ali Abedi [May 2020] ------------ */