@charset "utf-8";
/* CSS Document */

html {
  	height: 100%;
	background-image: url("main_page_images/bg_img.png");
	background-attachment: fixed;
}

body {
	width: 93%;
	margin: 20px auto 20px auto;
	border: 5px solid black;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

#header {
	height: 4%;
	padding-left: 50px;
	padding-top: 30px;
	background-image: linear-gradient(to right, #402759, black);
	color: #E4DCf1;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 2px;
}

#header_2 {
	height: 0.5%;
	padding-left: 50px;
	padding-top: 30px;
	background-image: linear-gradient(to right, #402759, black);
	color: #E4DCf1;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 1.5px;
}

#header_3 {
	height: 4%;
	padding-left: 50px;
	padding-top: 30px;
	padding-bottom: 10px;
	background-image: linear-gradient(to right, #402759, black);
	color: #E4DCf1;
	font-size: 15px;
	letter-spacing: 1px;
}

h3, p {
	color: #E4DCf1; 
}

.next_project {
	margin-top: 20px;
}

.text {
	margin-left: 10%;
	margin-right: 10%;
	text-align: left;
}

ul {
	text-align: center;
	list-style-type: none;
	margin: 20px auto;
	padding: 0px;
}

li {
	font-weight: bold;
	letter-spacing: 0.5px;
	background-color: cyan;
	color: black;
	margin: 15px auto;
	padding: 10px 0px;
	border: 2px solid black;
	border-radius: 10px;
	width: 250px;
}

.inline_p {
	display: inline;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.tablink {
	width: 30%;
	flex-grow: 1;
  	background-color: transparent;
  	color: #E4DCf1;
  	letter-spacing: 2px;
  	float: left;
	padding: 15px 0px;
  	border: none;
  	outline: none;
  	cursor: pointer;
}

.tablink:hover, .tablink:active {
	font-weight: bold;
}

.tabcontent {
  	color: #E4DCf1;
  	display: none;
  	padding-top: 30px;
  	margin: auto;
  	text-align: center;
}

#Home {background-color: #402759;}
#Portfolio {background-color: #402759;}
#Contact {background-color: #402759;}

.project_link, .project_link:visited {
	display: inline-block;
	background-color: cyan;
	color: black;
	text-decoration: none;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	width: 200px;
	margin: 2px 15px;
}

.project_link:hover {
	background-color: black;
	color: white;
	border: 2px solid #E4DCf1;
}

.project_link:active{
	color: orange;
	border: 2px solid orange;
}

.contact_link, .contact_link:visited {
	display: block;
	background-color: cyan;
	color: black;
	text-decoration: none;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	width: 250px;
	margin: 20px auto;
}

.contact_link:hover {
	background-color: black;
	color: white;
	border: 2px solid #E4DCf1;
}

.contact_link:active{
	color: orange;
	border: 2px solid orange;
}

.footer {
	margin-bottom: 0px;
	padding-bottom: 10px;
	text-align: center;
	color: #E4DCf1;
	font-size: 0.7em;
	font-weight: bold;
}

hr {
	border-top: : 3px solid #E4DCf1;
}

hr.portfolio_div {
	border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #E4DCf1, rgba(0, 0, 0, 0));
	width: 90%;
	margin-top: 50px;
}

/* If the screen size is 601px wide or more, large font for menu text */
@media screen and (min-width: 801px) {
  .tablink {
    font-size: 15px;
  }
}

/* If the screen size is 600px wide or less, small text for meun text */
@media screen and (max-width: 800px) {
  .tablink {
    font-size: 10px;
  }
}



/* ------------ Copyright © Ali Abedi [May 2020] ------------ */